@font-face {
font-family: 'youMurderer';
src: url('youmurderer.ttf')
format('truetype');
}



body{
    text-align: center;
    background: #00ECB9;
	font-family: sans-serif;
	font-weight: 100;
}

h1{
  color: red;
  font-weight: 100;
  font-size: 30px;
  font-family: "youMurderer"
  margin: 40px 0px 20px;
}

#clock{
    font-family: 'youMurderer';
    color: black;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 40px;
}

#clock > div{
    padding: 5px;
    border-radius: 3px;
    background: #FFBF00;
    display: inline-block;
}

#clock div > span{
    padding: 15px;
    border-radius: 3px;
    background: #F79000;
	font-size:10px
    display: inline-block;
}


.house img{
	height='100'; width='100'
	alt='The Devil lives next door'
	}
	
.paragraph{
	font-family: 'Serif';
	color: white;
	display: inline-block;
	text-align: left;
	max-width: 10em;
	max-width: 55ch;
	font-size: 17px;
	}

.hidden{
	font-family: 'Serif';
	color: black;
	display: inline-block;
	text-align: left;
	max-width: 10em;
	max-width: 55ch;
	font-size: 17px;
	}
	
.smalltext{
    padding-top: 5px;
    font-size: 20px;
}